page-language {
    .language-list button[ion-item]{
        border-bottom: 1px solid lighten($border-color-dark-grey, 60%) !important;
        padding:10px;
    }
    .language-list{
        margin-right:5px;
        margin-left:5px;
    }
    .language-list{
        ion-avatar{
            margin: 8px 25px 8px 0 !important;
            min-height:20px;
            min-width:20px;
            img{
                height:20px;
                width:20px;
            }
        }
    }
}



