
$icomoon-font-path: $font-path !default;
$icon-documents-2x: "\e91e";
$icon-more: "\e91d";
$icon-add-people: "\e900";
$icon-add-photo: "\e901";
$icon-add-poll: "\e902";
$icon-add-video: "\e903";
$icon-documents: "\e904";
$icon-home: "\e905";
$icon-like: "\e906";
$icon-liked: "\e907";
$icon-messages: "\e908";
$icon-notification-documents-path1: "\e909";
$icon-notification-documents-path2: "\e90a";
$icon-notification-documents-path3: "\e90b";
$icon-notification-documents-path4: "\e90c";
$icon-notification-messages-path1: "\e90d";
$icon-notification-messages-path2: "\e90e";
$icon-notification-messages-path3: "\e90f";
$icon-notification-messages-path4: "\e910";
$icon-notification-walls-path1: "\e911";
$icon-notification-walls-path2: "\e912";
$icon-notification-walls-path3: "\e913";
$icon-notification-walls-path4: "\e914";
$icon-notification-walls-path5: "\e915";
$icon-notification-walls-path6: "\e916";
$icon-notification-walls-path7: "\e917";
$icon-notification-walls-path8: "\e918";
$icon-poll: "\e919";
$icon-send: "\e91a";
$icon-settings: "\e91b";
$icon-walls: "\e91c";

@font-face {
    font-family: 'icomoon';
    src: url('#{$icomoon-font-path}/icomoon.eot?kgyp72');
    src: url('#{$icomoon-font-path}/icomoon.eot?kgyp72#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?kgyp72') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?kgyp72') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?kgyp72#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon{
  display: inline-block;
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*/

@mixin makeIcon($arg,$val) {
    .ion-ios-#{$arg}:before,
    .ion-ios-#{$arg}-circle:before,
    .ion-ios-#{$arg}-circle-outline:before,
    .ion-ios-#{$arg}-outline:before,
    .ion-md-#{$arg}:before,
    .ion-md-#{$arg}-circle:before,
    .ion-md-#{$arg}-circle-outline:before,
    .ion-md-#{$arg}-outline:before {
        content: $val;
        @extend .icomoon;
    }
}

@include makeIcon(icon-home,
$icon-home);
@include makeIcon(icon-messages,
$icon-messages);
@include makeIcon(icon-documents,
$icon-documents);
@include makeIcon(icon-documents2x,
$icon-documents-2x);
@include makeIcon(icon-walls,
$icon-walls);
@include makeIcon(icon-settings,
$icon-settings);
@include makeIcon(icon-like,
$icon-like);
@include makeIcon(icon-liked,
$icon-liked);
@include makeIcon(icon-more,
$icon-more);
@include makeIcon(icon-add-people,
$icon-add-people);
@include makeIcon(icon-send,
$icon-send);