@import '../assets/fonts/icomoon';

//variables
$startup-page-color:             rgba(65, 98, 255, 1);
$startup-box-shadow-bg-color:    rgba(254, 254, 254, .8);
$startup-box-main-bg-color:        $base-white;
$startup-box-main-shadow-color:  rgba(0, 15, 89, 0.1);
$next-btn-color:                 #86c643;
$font-color-dark-grey:           rgba(44, 60, 76, .8);
$font-color-dark-grey-light:     rgba(44, 60, 76, .5);
$font-color-darker-grey:         rgb(44, 60, 76);
$badge-color-orange:             #ff5224;
$badge-color-grey:               rgb(244, 245, 246);
$border-color-dark-grey:         rgba(44, 60, 76, 0.4);
$box-shadow-color:               rgba(0, 15, 89, 0.05);
$list-color-odd-bg:                $blue-lighter;

//Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($h, $v, $blur, $spread, $color) {
    box-shadow: $h $v $blur $spread $color !important;
    -webkit-box-shadow: $h $v $blur $spread $color;
    -moz-box-shadow: $h $v $blur $spread $color;
}

@mixin badge($color) {
    background: $color;
    color: $base-white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    @include border-radius(50%)
}

//CSS
.register-container {
    background-color: $startup-page-color;
    height: 100%;
    text-align: center;
}

.box-container {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.box-shadow {
    background-color: $startup-box-shadow-bg-color;
    width: 90%;
    height: 100px;
    border-radius: 5pt;
    position: absolute;
    left: 5%;
    height: 416px;
    overflow: visible;
}

.box-main {
    @include box-shadow(0px, 4px, 10px, 0px, $startup-box-main-shadow-color);
    background-color: $startup-box-main-bg-color;
    width: 100%;
    min-height: 400px;
    height: auto;
    border-radius: 5pt;
    position: absolute;
    margin-top: 20%;
    z-index: 1;
}

.page-heading-sub {
    color: $font-color-dark-grey;
    margin: 0;
    display: block;
}

.page-text {
    display: block;
    margin-top: 70px;
    font-size: .9em;
    color: $font-color-dark-grey;
}

.page-heading {
    font-size: 1.3em;
    color: $font-color-darker-grey;
    margin: 26px 0 30px 0;
}

.phone-number-text {
    font-size: 1em;
    border: 1px solid $border-color-dark-grey;
    color: $font-color-dark-grey;
    border-radius: 5px;
    height: 40px;
    padding: 2px 10px;
    margin: 10px 0 0 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div.bottom-buttons {
    position: absolute;
    width: 100%;
    bottom: 35px;
    button {
        margin: 6px;
        width: 110px;
        height: 40px;
    }
    .next-btn {
        width: 110px;
        height: 40px;
        background-color: $next-btn-color;
    }
}
.no-data-container{
    height:100%;
    width:100%;
    vertical-align: middle;
    position: relative;
    text-align: center;
    img {
        position:absolute;
        left: 50%;
        right: 0;
        margin-right: -50%;
        margin:0 auto;
        top:40%;
        margin: 0;
        height: 144px;
        width: 167px;
        transform: translate(-50%, -50%)
    }
    p{
        position:relative;
        font-size: 17px;
        color:$font-color-dark-grey;
        margin-right: -50%;
        margin:0 auto;
        top:60%;
        }
}
.button-md {
    text-transform: none!important;
}

.badge-orange {
    @include badge($badge-color-orange);
}

.badge-grey {
    @include badge($badge-color-grey);
}

.clear-both {
    clear: both;
}

/* Home Page Listing*/

.nav-title {
    .toolbar-title {
        color: $base-white;
    }
}


/* Card Design */

.full-width-card {
    width: 100%;
    margin: 0;
    @include border-radius(5px);
    ion-row.post-header {
        padding: 16px 0 0 16px;
        color: $black;
        span.icon-more {
            color: $base-blue;
        }
        span.post-author {
            font-size: 1.1em;
            width: 48%;
            color: $font-color-dark-grey;
        }
        ion-note {
            width: 47%;
        }
    }
    ion-card-content {
        p.post-content {
            font-size: 1.2em;
        }
        span.border-bottom {
            width: 100%;
            border: 1px solid $grey;
        }
    }
}

//Common CSS

.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin:0 !important;
}
.divider{
    margin-right: 15px;
    margin-left: 15px;
    border-top: 2px solid lighten($border-color-dark-grey, 60%)
}
.grey{
    background-color: $grey;
}
.white{
    background-color: $base-white;
}
.text-light{
    color: $font-color-dark-grey-light;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-bold{
    font-weight: bold !important;
}
.font-orange{
    color:$badge-color-orange;
    font-weight: bold; 
}
.font-grey{
    color: $font-color-dark-grey;
    font-weight: bold; 
}
.center{
    text-align: center;
}
.text-blue{
     color: $base-blue;
}
.text-red{
     color: $red;
}

//android tabs icon fix
.tabs-md .tab-button-icon{
    padding-top: 3px;   
}



/** Message Section comman css**/

.message-list{
    .item-inner{
        border-bottom: none !important;
        padding-right: 0px !important;
    }
    ion-icon[item-content]{
        padding-right: 3px;
    }
    ion-item, button[ion-item]{ 
        border-bottom:0.55px solid $grey-darker !important;
        padding: 5px 0px 5px 5px;
    }
    ion-note{
        font-size: 12px;
        span{
            display: block;
            text-align: right;
        }
    }
    .unread{
        background-color: $list-color-odd-bg;
        h3{
            font-weight: bold;
        }
        p{
            font-weight: bold;
        }
        .list-badge{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #ff5224;
            display: block;
            position: absolute;
        }
        .badge-dot {
            top: 16px!important;
            left: 36px!important;
        }
        .doc-badge-dot{
            top: 18px!important;
            left: 8px!important;
        }
    }

    .avatar-container{
        display:inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

// Information pages comman css
 .info-list{
        ion-row {
            ion-col{
                margin-right: 25px;
                font-size: 16px;
                padding-left: 0;
            }
            ion-col:not(.text-light){
                    color: $font-color-dark-grey;
                    margin-right: 0px;
            }  
        }    
        .input-wrapper{
            border-bottom: 0.55px solid $grey-darker;
        }    
        .item-inner {
            border-bottom: none !important;
        }    
        ion-item{
            padding-left: 8px;
        } 
  }
  button.back-button .back-button-text{
    text-transform: none!important;
  }