<ion-header>
  <ion-navbar>
    <ion-title>
   {{conversationPageStr.conversationStr}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grey" cache-view="false">
  <ion-list no-lines class="grey" class="info-list">
    <!--<ion-item>
      <ion-row>
        <ion-col col-3 class="text-light text-right">{{conversationPageStr.creator}}</ion-col>
        <ion-col text-wrap>
          Crystal Sutton
        </ion-col>
      </ion-row>

    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-3 class="text-light text-right">{{conversationPageStr.description}}</ion-col>
        <ion-col text-wrap>
          Lorem ipsum dolor sit amet, prompta sanctus cum eu, qui modus ceteros te. Has habeo sonet ne, at fuisset eloquentiam has.
        </ion-col>
      </ion-row>
    </ion-item>-->
    <ion-item>
      <ion-row>
        <ion-col col-3 class="text-right text-light">{{conversationPageStr.participants}}</ion-col>
        <ion-col>
          <ion-list no-lines class="grey" class="chat-member-list">
            <button ion-item detail-none (click)="addRecipients()">
              <ion-icon name="icon-add-people" item-left></ion-icon>
              <h2>{{conversationPageStr.addNew}}</h2>         
            </button>
            <ion-item *ngFor="let recipient of recipients">
              <ion-avatar item-left>
                <img src="./assets/images/default-pic.png">
              </ion-avatar>
              <h2>{{recipient.name}}</h2>
              <!-- <h3 class="text-light">{{recipient.title}}</h3> -->
              <ion-icon *ngIf="recipients.length > 1" item-right color="danger" name="close" (click)="remove(recipient)"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>
</ion-content>